@model Order

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Narudžba</h2>
            </div>
        </div>
    </div>
    
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3">
                <div class="form-floating py-2 col-12">
                    <input asp-for="Customer" class="form-control border-0 shadow" />
                    <label asp-for="Customer" class="ms-2">Kupac</label>
                    <span asp-validation-for="Customer" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <select asp-for="Status" asp-items="ViewBag.StatusList" class="form-select border-0 shadow">
                        <option disabled selected>Odaberite status</option>
                    </select>
                    <label asp-for="Status" class="ms-2"></label>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <select asp-for="PaymentMethod" asp-items="ViewBag.PaymentMethodList" class="form-select border-0 shadow">
                        <option disabled selected>Odaberite metodu plaćanja</option>
                    </select>
                    <label asp-for="PaymentMethod" class="ms-2">Metoda plaćanja</label>
                    <span asp-validation-for="PaymentMethod" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <input asp-for="DeliveryAddress" class="form-control border-0 shadow" />
                    <label asp-for="DeliveryAddress" class="ms-2">Adresa dostave</label>
                    <span asp-validation-for="DeliveryAddress" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <input asp-for="ContactNumber" class="form-control border-0 shadow" />
                    <label asp-for="ContactNumber" class="ms-2">Kontakt broj</label>
                    <span asp-validation-for="ContactNumber" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <input asp-for="Remark" class="form-control border-0 shadow" />
                    <label asp-for="Remark" class="ms-2">Napomena</label>
                </div>

                <div class="form-floating py-2 col-12">
                    <select asp-for="Currency" asp-items="ViewBag.CurrencyList" class="form-select border-0 shadow">
                        <option disabled value=null selected>Odaberite valutu</option>
                    </select>
                    <label asp-for="Currency" class="ms-2">Valuta</label>
                    <span asp-validation-for="Currency" class="text-danger"></span>
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Spremi</button>
                    </div>
                    
                    <div class="col-6 col-md-3">
                        <a asp-controller="Restaurant" asp-action="Index" class="btn btn-outline-primary border form-control">Natrag</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
